.cabeçalho__manu-hamburguer {
  width: 54px;
  height: 54px;
  background-image: url(.../img/Menu.svg);
  display: inline-block} 
.cabeçalho{ 
  background-color:aliceblue;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: relative;}
  .container {
      display: flex;
      align-items: center; }
.lista-menu{
  display: none;
  position: absolute;
  top: 100%;
  width: 15dvw;}
.container__botao:checked ~.lista-menu{
  display: block;}

.lista-menu__titulo, .lista-menu__item{
  padding: 1em;                                                                                                                                                                                       
  background-color:white;  }
  .lista-menu__titulo{ color: red   ;}
  
  
  .lista-menu__link{
       background-image: linear-gradient(rosybrown,rosybrown);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase; }
