.cabeçalho__manu-hamburguer {
    width: 54px;
    height: 54px;
    background-image: url(.../img/Menu.svg);
    display: inline-block} 
.cabeçalho{ 
    background-color:aliceblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;}
    .container {
        display: flex;
        align-items: center; }
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 40dvw;}
.container__botao:checked ~.lista-menu{
    display: block;}

.lista-menu_titulo, .lista-menu_item{
    padding: 1em;                                                                                                                                                                                       
    background-color:
    .lista-menu__titulo{ color: red   ;}
    
    .lista-menu__titulo{ color: rosybrown ;}
    
    .lista-menu__link{
         background-image:linear-gradient(       );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase; }